.container {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* .swiper-button-prev, .swiper-button-next {
    width: 32px;
    height: 32px;
    background: #fff;
    border-radius: 9999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  } */